*{
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    justify-content: center;
}
.box{
    padding: 20px;
    background-color: red;
    width: 110px;
}
.box2{
    background-color: aqua;
}
.box3{
    background-color: bisque;
}